@import url("https://fonts.google.com/specimen/Baloo+2");
body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card {
  background: #6c11c8;

  margin-top: 20vh;
  color: #ffffff;
  border-style: solid;
  border-color: #f8fdff;
  border-radius: 40px;
  margin: auto;
  padding: 20px;
  width: 15%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: 0.3s ease-out;
}

.cardTimer {
  margin: auto;
  font-size: 50px;

  height: 10%;
}

.cardWord {
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  height: 50%;
  margin-top: 40%;
}

.cardWordInput {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: #330dc8 0px 0px 0px 2px outset;
  background-color: #ffffff;
}

.timer {
  text-align: center;
  color: #7c7c7c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timerText {
  font-size: 40px;
}
.timerValue {
  font-size: 64px;
}
.Gameplan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 97vh;
  width: 100vw;
}
.GameplanHigher {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}
.StreakCounter {
  height: 30%;
  width: 100%;
  display: flex;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.StreakCounterNumber {
  font-size: 76px;

  color: #ffffff;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.timeCounter {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 25px;
}
.StreakCounterIcon {
  height: 0px;
  width: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#streakIcon {
  height: 60px;
  width: 50px;
}
.dropDownMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3%;
  width: 100vw;
  margin: auto;
  position: fixed;
  top: 0;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #292929;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropDownContent a {
  color: rgb(0, 0, 0);
  padding: 2px 6px;
  text-decoration: none;
  display: block;
}
.dropDownContent a:hover {
  background-color: rgba(221, 221, 221, 0.29);
}
.dropDownMenu:hover .dropDownContent {
  display: block;

  margin-top: 2%;
}

.dropDownButton {
  background-color: #303030;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.GameplanLower {
  display: flex;

  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
}

.MenuHandler {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 40%;
  margin-left: 30%;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.menuitem1 {
  margin: auto;
  background-color: #6c11c8;
  margin-top: 13%;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  border: #f8fdff 2px solid;
  transition: 0.3s ease-out;
}
.menuitem2 {
  margin: auto;
  background-color: #6c11c8;
  margin-top: 13%;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  border: #f8fdff 2px solid;
  transition: 0.3s ease-out;
}
.menuitem3 {
  margin: auto;
  background-color: #6c11c8;
  margin-top: 13%;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  border: #f8fdff 2px solid;
  transition: 0.3s ease-out;
}

.menuitem1title,
.menuitem2title,
.menuitem3title {
  font-size: 2rem;
  width: 100%;
  height: 15%;
  margin-top: 12%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrongWordTranslation {
  font-size: 3rem;
  border-radius: 30px;
  width: 15%;
  height: 15%;
  color: #ffffff;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.2s ease-in-out;
}

.topBarSettings {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 3%;
  width: 100vw;
  margin: auto;
  position: fixed;
  top: 0;
}

.darkmode {
  transition: 0.3s ease-in-out;
  background-color: #e5e5e5;
  color: rgb(255, 255, 255);
}

.lightDarkMode {
  background-image: url(/Assets/moon.svg);
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100%;
  width: 1.5%;
  background-color: #303030;
}
